{
    "presets": [
        "env",
        "react",
        "es2015-ie",
        "stage-1"
    ],
    "plugins": [
        "transform-decorators-legacy",
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ]
    ]
}